.card {
  cursor: pointer;

  padding: 24px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px dashed #D8D8E5;
  background: #FFF;
}

.icon {
  margin-right: 16px;
  filter: invert(0.5);
}

.cartTitle {
  margin-bottom: 8px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 106.667% */
}
.cartDescription {
  color: #7E8299;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 35px 0;
}

.active {
  border-radius: 8px;
  border: 1px dashed #2884EF;
  background: #EEF6FF;

  .icon {
    filter: invert(0);
  }
}

