//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "./core/layout/base/layout";
@import "layout/layout";

.text-gray-700 {
    color: $gray-700 !important;
}

.bg-gray {
    background: #F9F9F9 !important;
}

.notification-dot {
    left: 30px;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    top: 5px;
    span {
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px; /* 180% */
        letter-spacing: -0.3px;
        left: 1px;
    }
}

